/*Tag selectors*/
* {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*Id selectors*/

#content {
  margin: auto;
  width: 50%;
}

/*Relax page player styles */
/* #backgroundaudio {
display: block;
position: fixed;
bottom: -43px;
left: 5px;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
#backgroundaudio:hover {
bottom: 0;
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
#backgroundaudio audio {
background: #ffffff;
padding: 5px;
display: table-cell;
vertical-align: middle;
height: 43px;
z-index: 9998;
}
#backgroundaudio i {
font-size: 40px;
display: block;
background: #ffffff;
padding: 5px;
width: 50px;
float: none;
margin-bottom: -1px;
z-index: 9999;
} */


/*Class selectors*/
.treehouse_image {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Media queries*/
@media (max-width: 1024px) {
  #content {
    width: 90%;
  }
}
